<%= form_with(model: @clothe, lacal: true) do |form|%>

  <p>
      <%= form.label :Name %> <br>
      <%= form.text_field :name%>
  </p>

  <p>
      <%= form.label :piece %> <br>
      <%= form.text_field :piece%>
  </p>

   <p>
        <%= form.submit %>
   </p>
<% end %>
